<div class="container mt-5 bg-light vh-100">
    <h2 class="text-center mb-4">About Nutritionists API</h2>
        <div class="card text-wrap">
            <div class="card-body">
                <h4 class="mb-4">The Project</h4>
                <ul class="list-unstyled">
                    <li> This is a test project, part of the CodingFactory course and mandatory for graduating from this course.</li>
                    <li> The main purpose is to showcase the skills and knowledge acquired during the course.</li>
                    <li> More emphasis is given towards functionality and programming rather than aesthetic appeal and UI/UX.</li>
                    <li> The "nutritionist" aspect of the project was chosen as I am a Nutrition school graduate myself.</li>
                </ul>

                <div class="mb-4">
                <h4>The stack</h4>
                <ul class="list-unstyled">
                    <li> Angular 17 is used as the front-end, with emphasis towrads the latest updates including:
                        <ul>
                            <li> Standalone components</li>
                            <li> Signals and effects</li>
                            <li> {{ "@for" }},  {{"@if"}} etc. directives</li>
                            <li> Dependency injection using inject()</li>
                            <li> Material design</li>
                        </ul>
                    </li>
                    <li> Django is used as back-end, utilizing Django Rest Framework and dj-rest-auth with JWT authentication. </li>
                    <li> SQLite is used as database due to ease of use during development.</li>
                </ul>
                </div>

                <div class="mb-4">
                <h4>Features</h4>
                <ul class="list-unstyled">
                    <div>
                        <li>
                            <strong>User:</strong>
                            <ul>
                                <li> Profile editing</li>
                                <li> Handling of measurements</li>
                                <li> Handling of diets</li>
                                <li> View the bio of assigned nutritionists - Not implemented yet</li>
                                <li> Get a chatGPT diet suggestion based on a set of measurements and preferrences - Not implemented yet</li>
                            </ul>
                        </li>
                    </div>
                    <div>
                        <li>
                            <strong>Nutritionist: </strong>
                            <ul>
                                <li> Profile editing</li>
                                <li> Handling of clients</li>
                                <li> Handling of clients' measurements and diets</li>
                                <li> Handling of diets</li>
                                <li> Linking clients to existing users as a way to make the measurements and diets available to the client - Not implemented yet</li>
                            </ul>
                        </li>
                    </div>
                    <div>
                        <li>
                            <strong>Staff </strong>
                            <ul>
                                <li> Profile editing - Not implemented yet</li>
                                <li> Listing of all users - Not implemented yet</li>
                                <li> Listing of all normal users - Not implemented yet</li>
                                <li> Listing of all nutritionists - Not implemented yet</li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="mb-4">
            <h4>Future implementations</h4>
            <ul class="list-unstyled">
                <li> Bio editing for nutritionists</li>
                <li> Access to "My Nutritionists" for normal users</li>
                <li> Linking clients to existing users</li>
                <li> Profile editing for staff</li>
                <li> Staff functionalities</li>
                <li> ChatGPT diet suggestions</li>
                <li> Connection to MongoDB</li>
                <li> Visual upgrades</li>
            </ul>
        </div>
    </div>
</div>
  