
@if (dietsExist() === false) {
    <div class="text-center">
        <p>No diets found.</p>
        <button mat-raised-button color="primary" class="px-4" (click)="dietsExist.set(true)"> Create <mat-icon>add</mat-icon></button>    
    </div>
} @else {
    <mat-tab-group dynamicHeight animationDuration="1000ms" mat-stretch-tabs="false">
        <mat-tab>
            <ng-template mat-tab-label>
              <button mat-icon-button>
                <mat-icon>add</mat-icon>
              </button>
            </ng-template>
            <app-nutritionist-client-diet-form></app-nutritionist-client-diet-form>
        </mat-tab>
        @for(diet of diets(); track diet) {
            <div class="container d-flex flex-column">
                <mat-tab label="{{ diet.date }}">
                    <app-nutritionist-client-diet-details [diet]="diet"></app-nutritionist-client-diet-details>
                </mat-tab>
            </div>
        }
    </mat-tab-group>
}
