<div class="d-flex justify-content-center align-items-center text-center p-5 vh-100 bg-light">
    <div class="bg-white p-5 border rounded-2 shadow w-75 text-wrap mb-3">
        <h1>Welcome to My Project</h1>
        <p> Nutritionists API is an app aimed towards nutrition professionals.</p>
        <p> It allows nutritionists to manage their clients, their measurements, and their diet plans. </p>
        <p> Users can also manage their measurements and diet plans </p>
        <p> Please login to see the functionalities provided.</p>
        <button mat-raised-button color="primary" class="px-4 py-2" routerLink="/about">Learn More</button>
    </div>
  </div>
  