<!-- <div class="container">
  <div class="d-flex flex-column gap-2">
    <app-navbar></app-navbar>
    <div class="d-flex flex-row gap-2">
      <div class="d-flex flex-column gap-2">
        <app-normal-user-menu></app-normal-user-menu>
        <app-nutritionist-menu></app-nutritionist-menu>
        <app-staff-menu></app-staff-menu>
      </div>
      <div class="flex-grow-1 p-2 text-nowrap">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->



<div class="container">
  <div class="d-flex flex-column gap-2">
    <app-navbar></app-navbar>
    <div class="d-flex flex-row gap-2">
    <app-general-menu></app-general-menu>

    <div class="flex-grow-1 p-2 text-nowrap">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>