<div class="container">
    <form [formGroup]="form" class="d-flex flex-column gap-2 mt-2">

        <div>
            <mat-form-field>
                <mat-label>Date</mat-label>
                <input matInput type="date" formControlName="date" placeholder="Date">
            </mat-form-field>
        </div>
    
        <div>
            <mat-form-field>
                <mat-label>Glucose</mat-label>
                <input matInput type="number" formControlName="glucose" placeholder="Glucose">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Cholesterol</mat-label>
                <input matInput type="number" formControlName="chlosterol" placeholder="Cholesterol">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Triglycerides</mat-label>
                <input matInput type="number" formControlName="triglycerides" placeholder="Triglycerides">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>HDL</mat-label>
                <input matInput type="number" formControlName="hdl" placeholder="HDL">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>LDL</mat-label>
                <input matInput type="number" formControlName="ldl" placeholder="LDL">
            </mat-form-field>
        </div>
            
        <div>
            <mat-form-field>
                <mat-label>Hemoglobin</mat-label>
                <input matInput type="number" formControlName="hemoglobin" placeholder="Hemoglobin">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Hematocrit</mat-label>
                <input matInput type="number" formControlName="hematocrit" placeholder="Hematocrit">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>White Blood Cell Count</mat-label>
                <input matInput type="number" formControlName="white_blood_cell_count" placeholder="White Blood Cell Count">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Red Blood Cell Count</mat-label>
                <input matInput type="number" formControlName="red_blood_cell_count" placeholder="Red Blood Cell Count">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Platelet Count</mat-label>
                <input matInput type="number" formControlName="platelet_count" placeholder="Platelet Count">
            </mat-form-field>
        </div>
    
        <div>
            <mat-form-field>
                <mat-label>Calcium</mat-label>
                <input matInput type="number" formControlName="calcium" placeholder="Calcium">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Sodium</mat-label>
                <input matInput type="number" formControlName="sodium" placeholder="Sodium">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Potassium</mat-label>
                <input matInput type="number" formControlName="potassium" placeholder="Potassium">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Chloride</mat-label>
                <input matInput type="number" formControlName="chloride" placeholder="Chloride">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Iron</mat-label>
                <input matInput type="number" formControlName="iron" placeholder="Iron">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Ferritin</mat-label>
                <input matInput type="number" formControlName="ferritin" placeholder="Ferritin">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Vitamin A</mat-label>
                <input matInput type="number" formControlName="vitamin_a" placeholder="Vitamin A">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Vitamin B12</mat-label>
                <input matInput type="number" formControlName="vitamin_b12" placeholder="Vitamin B12">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Vitamin C</mat-label>
                <input matInput type="number" formControlName="vitamin_c" placeholder="Vitamin C">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Vitamin D</mat-label>
                <input matInput type="number" formControlName="vitamin_d" placeholder="Vitamin D">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Vitamin E</mat-label>
                <input matInput type="number" formControlName="vitamin_e" placeholder="Vitamin E">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Vitamin K</mat-label>
                <input matInput type="number" formControlName="vitamin_k" placeholder="Vitamin K">
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field>
                <mat-label>Creatinine</mat-label>
                <input matInput type="number" formControlName="creatinine" placeholder="Creatinine">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Urea</mat-label>
                <input matInput type="number" formControlName="urea" placeholder="Urea">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Uric Acid</mat-label>
                <input matInput type="number" formControlName="uric_acid" placeholder="Uric Acid">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Alanine Aminotr.</mat-label>
                <input matInput type="number" formControlName="alanine_aminotransferase" placeholder="Alanine Aminotransferase">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Aspartate Aminotr.</mat-label>
                <input matInput type="number" formControlName="aspartate_aminotransferase" placeholder="Aspartate Aminotransferase">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Alkaline Phosphatase</mat-label>
                <input matInput type="number" formControlName="alkaline_phosphatase" placeholder="Alkaline Phosphatase">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Bilirubin</mat-label>
                <input matInput type="number" formControlName="bilirubin" placeholder="Bilirubin">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Albumin</mat-label>
                <input matInput type="number" formControlName="albumin" placeholder="Albumin">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Total Protein</mat-label>
                <input matInput type="number" formControlName="total_protein" placeholder="Total Protein">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Thyroid Stim. Hormone</mat-label>
                <input matInput type="number" formControlName="thyroid_stimulating_hormone" placeholder="Thyroid Stimulating Hormone">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Thyroxine</mat-label>
                <input matInput type="number" formControlName="thyroxine" placeholder="Thyroxine">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Triiodothyronine</mat-label>
                <input matInput type="number" formControlName="triiodothyronine" placeholder="Triiodothyronine">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>C Reactive Protein</mat-label>
                <input matInput type="number" formControlName="c_reactive_protein" placeholder="C Reactive Protein">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Lactate Dehydrogenase</mat-label>
                <input matInput type="number" formControlName="lactate_dehydrogenase" placeholder="Lactate Dehydrogenase">
            </mat-form-field>
        </div>
    
        <div class="d-flex justify-content-end gap-2 mt-3">
            <button mat-raised-button color="primary" (click)="submit(form.value)" [disabled]="form.invalid">Submit</button>
            <button mat-raised-button color="warn" (click)="form.reset()">Reset</button>
        </div>
    
    </form>
</div>