<div class="container my-5 text-center">
    <h4>Measurements</h4>
    <mat-tab-group dynamicHeight animationDuration="0ms">
        <mat-tab label="Body">
            <app-nutritionist-client-body-measurement-list></app-nutritionist-client-body-measurement-list>
        </mat-tab>
        <mat-tab label="Segmental">
            <app-nutritionist-client-segmental-body-measurement-list></app-nutritionist-client-segmental-body-measurement-list>
        </mat-tab>
        <mat-tab label="Biochemical">
            <app-nutritionist-client-biochemical-measurement-list></app-nutritionist-client-biochemical-measurement-list>
        </mat-tab>
        <mat-tab label="Diseases">
            <app-nutritionist-client-disease-list></app-nutritionist-client-disease-list>
        </mat-tab>
        <mat-tab label="Diets">
            <app-nutritionist-client-diet-list></app-nutritionist-client-diet-list>
        </mat-tab>
    </mat-tab-group>
</div>