<div class="container my-5 text-center">
    <h4>Measurements</h4>
    <mat-tab-group dynamicHeight animationDuration="0ms">
        <mat-tab label="Body">
            <app-normal-user-body-measurement-list></app-normal-user-body-measurement-list>
        </mat-tab>
        <mat-tab label="Segmental">
            <app-normal-user-segmental-body-measurement-list></app-normal-user-segmental-body-measurement-list>
        </mat-tab>
        <mat-tab label="Biochemical">
            <app-normal-user-biochemical-measurement-list></app-normal-user-biochemical-measurement-list>
        </mat-tab>
    </mat-tab-group>
</div>